
services:
  # PostgreSQL database
  db:
    image: postgres:15
    container_name: ticket_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ticketdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  # Backend API
  backend:
    build: ./server
    container_name: ticket_backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: ticketdb
      DB_HOST: db
      DB_PORT: 5432
    depends_on:
      - db

  # Frontend React app
  frontend:
    build: ./client
    container_name: ticket_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

  sonarqube:
    image: sonarqube:10.5.1-community
    container_name: sonarqube
    restart: unless-stopped
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs

volumes:
  db_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
