.list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.list-page ul {
  list-style: none;
  padding: 0;
}

.list-page li {
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
